.head {
    text-align: center;
}

.contactInfo {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 5px;
    border-bottom: 1px solid #000;
}

.contactInfo li:nth-child(1) {
    text-align: left;
}

.contactInfo li:nth-child(2) {
    text-align: center;
}

.contactInfo li:nth-child(3) {
    text-align: right;
}

.workExperience {
    margin-top: 20px;
}

.job {
    margin-bottom: 0px;
}

.jobHeader {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: -5px;
}

.jobHeader h3 {
    margin: 0;
}

.jobDetails {
    font-style: italic;
}

.jobLocation {
    margin: 0;
}

.jobInfo {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 5px;
}

.jobTitle {
    margin: 0;
}

.responsibilities {
    margin-top: 10px;
    padding-left: 20px;
}

.responsibilities li {
    margin-bottom: 5px;
}
